@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
/* font-family: "Kalam", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* font-family: "Josefin Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
body{
     /* background-image: linear-gradient(to bottom right, #e4129e 10%, #4dceeb 70%) */
}
h1{
    text-align: center;
    margin-top: 40px;
}
h4{
    margin-top: 10px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width:80%;
    margin-inline: auto;
    padding: 8px 12px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 16px 4px rgb(103, 101, 101);
    /* background-color: rgba(255, 255, 255, 0.1); */
    
}
h3{
    padding-top: 20px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}
.typeOfGroup{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.group{
    border: 2px solid rgb(24, 24, 24);
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 700;
    padding: 4px 8px;
    cursor: pointer;
}
.group:active{
    box-shadow: 1px 0 2px 1px rgb(129, 127, 127);
}
.mode{
    background-color: rgb(163, 12, 186);
    color: white;
}

.addUserStyle{
    padding: 4px 8px;
    margin-inline: auto;
    background-color: black;
    color: white;
}


#error{
    color: red;
    animation: errorShowing 0.5s ease 0s infinite alternate ;
}
@keyframes errorShowing {
    0%{
        transform: scale(1);
        
    }
    100%{
        transform: scale(1.1);
    }
}
.userBox{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap:10px;
    width: 100%;
    
}
.user{
    display: flex;
    margin-inline: auto;
    gap:10px;
    width: 80%;
    /* background-image: linear-gradient(to bottom right, #e4129e 10%, #d8f486 90%) */
}
.user2 input{
    width: 100%;
    height: 32px;
    border-radius: 10px;
    padding-inline: 20px;
    /* background-image: linear-gradient(to bottom right, #e4129e 10%, #d8f486 90%) */
}


.user input{
    width: 100%;
    height: 32px;
    border-radius: 10px;
    padding-inline: 20px;
}
.user select{
    width:40px;
    border-radius: 12px;
    text-align: center;
}
select::-webkit-scrollbar {
    display: none;
}

.level{
    border: 2px solid black;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 700;
    padding: 4px 8px;
    cursor: pointer;
}
.main button{
    color: antiquewhite;
    background-color: black;
    border-radius: 8px;
    text-align: center;
    font-family: cursive;
    padding: 6px 10px;
    cursor: pointer;
}
/* page 2 started here */

.game{
    width: 90%;
    margin-inline: auto;
    border: 2px dotted green;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
#turn-anounce {
    font-size: 1.4rem;
    padding-top: 20px;
    font-weight: 700;
    color: rgb(7, 74, 241);
}

.game-page{
    width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto ;
    border: 2px solid yellow;
}

.game-page img {
    max-height: 200px;
    min-height: 40px;
    mix-blend-mode: screen;
    overflow: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.game-User{
    font-size: 1rem;
    font-family: poppins, sans-serif ;
    /* border: 1px solid black; */
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgb(166, 5, 252, 0.2);
    color: black;
    font-weight: 500;
}
.option-selection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;

}
.option-selection button{
    font-size: 2rem;
    border-radius: 16px;
    padding: 4px 12px;
    border: 3px solid ;
}

.perform{
    margin-top: 20px;
    width: 70%;
    margin-inline: auto;
    height: 160px;
    
    border: 2px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #4f4c4e 10%, #b663bf 70%)
}
.perform-class{
    padding-top: 40px;
    color: rgb(253, 255, 255);
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Kalam", cursive;
}
.yes-or-no{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 60px;
    
}

.yes-or-no button{
    font-size: 2rem;
    border-radius: 16px;
    padding: 4px 12px;
    background-color: hotpink;
}
.timer {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 1.5rem;
    background-color: hotpink;
    padding: 2px 8px;
    box-shadow: 0 0 10px 2px black;
    border-radius: 4px;
}
.hidden {
    display: none;
}
.opecity{
    opacity: 0;
}
