*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-page{
    width: 60% ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 68vh;
    border: 2px solid black;
    margin: auto ;
    margin-top: 100px;
}

.game-page img {
    height: 200px;
    mix-blend-mode: multiply;
    
    
    /* animation: */
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}